@import url('https://fonts.googleapis.com/css2?family=Montserrat');
body{
    position:absolute;
    background :white;
    width:100;
    height:100;
}
.first{
    position :absolute;
    background-size:cover;
    /* width:100%;
    height:25%; */
}
.banner{
    position: absolute;
width: 1443px;
height: 661px;
left: -2px;
top: -3px;
}
/* manipal hospital title */
.title{
   /* Frame */
   position: absolute;
width: 195px;
height: 37px;
left: 135px;
top: 37px;


}
/* this for organise search,contactus and hamburger menu align */
.nav{
    position: absolute;
width: 580px;
height: 48px;
left: 725px;
top: 22px;

}
/* this code for input text box image style */
.inputoutline{
    /* Auto Layout */
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
    
        position: absolute;
        width: 354px;
        height: 48px;
        left: 725px;
        top: 22px;
    
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 40px;
    }
    .searchicon{
        position: absolute;
width: 20px;
height: 20px;
left: 310px;
top: 14px;
/* Inside Auto Layout */

/* flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;  */
    }

.inputbox{
    /* Search here... */


position: static;
width: 274px;
height: 17px;
left: 24px;
top: 15.5px;

/* Header text */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.01em;

color: #fcf1f1;

opacity: 0.6;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 12px;

border: none;
background-color: transparent;
color: #fcf1f1;
outline: none;
}
::placeholder {
    color:white;
    opacity: 1; 
  }

  /* contact us properties */
  .contactus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8px 30px;
    
    position: absolute;
    width: 138px;
    height: 48px;
    left: 1095px;
    top: 22px;
    
    background: #B52A4E;
    border-radius: 40px;
  }
  .innertext{
    /* Contact us */


position: static;
width: 78px;
height: 17px;
left: 30px;
top: 15.5px;

/* Header text */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.01em;

color: #ffffff;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 12px;
text-decoration: none; /*to remoove href underline*/
}

/* hamburger navigation*/
/* .hamcircle{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1257px;
    top: 22px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    }
    
    .hamicon{
    margin-left:11px;
    margin-right:25px;
    margin-top: 12px;
    background: #FFFFFF;
    background-color: transparent
    } */
    .hamburger{/* Ellipse 83 */


        position: absolute;
        width: 48px;
        height: 48px;
        left: 1257px;
        top: 22px;
        
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10em;
        
        }
        .hampress{
        /* Vector */
        
        
        position: absolute;
        left: 22%;
        right: 10.21%;
        top: 25%;
        bottom: 99.03%;
        }
        
        #menuToggle
        {
          display: block;
          position: relative;
          top: 13px;
          left: 6px;
          
          z-index: 1;
          
          -webkit-user-select: none;
          user-select: none;
        }
        
        #menuToggle a
        {
          text-decoration: none;
          color: #232323;
          
          transition: color 0.3s ease;
        }
        
        #menuToggle a:hover
        {
          color: tomato;
        }
        
        
        #menuToggle input
        {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          
          cursor: pointer;
          
          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */
          
          -webkit-touch-callout: none;
        }
        
        /*
         * Just a quick hamburger
         */
        #menuToggle span
        {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          
          background: #cdcdcd;
          border-radius: 3px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        #menuToggle span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        /* 
         * Transform all the slices of hamburger
         * into a crossmark.
         */
        #menuToggle input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }
        
        /*
         * But let's hide the middle one.
         */
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        /*
         * Ohyeah and the last one should go the other direction
         */
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }
        
        /*
         * Make this absolute positioned
         * at the top left of the screen
         */
        #menu
        {
          position: absolute;
          margin: -100px 0 0 -50px;
          padding: 50px;
        
          padding-top: 125px;
          
          background: #ededed;
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
         
          
          transform-origin: 0% 0%;
          transform: translate(-1000%, 0);
          
          /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
        }
        
        #menu li
        {
          padding: 10px 0;
          font-size: 22px;
        }
        
        /*
         * And let's slide it in from the left
         */
        #menuToggle input:checked ~ ul
        {
          transform: none;
        }
        
    /* text in introduction of hospital */
    .headtext{
        position: absolute;
        width: 732px;
        height: 110px;
        left: 135px;
        top: 157px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 45.3px;
        line-height: 55px;
        letter-spacing: 0.01em;
        
        color: #FFFFFF;
        
    }
    
    .subtext{
        /* We are amongst the most respected hospitals, 
        thanks to our clinical excellence, patient centricity and ethical practices. */
    
    
        position: absolute;
        width: 680px;
        height: 56px;
        left: 135px;
        top: 299px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        color: #FFFFFF;
    }

    /* circle image */
    .bordercirimage{
        position: absolute;
    width: 450px;
    height: 450px;
    left: 855px;
    top: 137px;
    }

    /* usages and circles */
    .superiorcircle{
        position: absolute;
    width: 56px;
    height: 56px;
    left: 135px;
    top: 403px;
    border-radius:50px;
    background: #FFFFFF;
    
    }
    .superiorpenimage{
      
        position: absolute;
    width: 35px;
    height: 34px;
    left: 147px;
    top: 414px;
    
    }
    .superiorprecision{
        /* Superior precision */
    
    
    position: absolute;
    width: 148px;
    height: 20px;
    left: 201px;
    top: 421px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    }
    .fastrecoverycircle{
        position: absolute;
        width: 56px;
        height: 56px;
        left: 373px;
        top: 403px;
        border-radius: 50px;
        
        background: #FFFFFF;
    }
    .fastrecoveryimage{
        position: absolute;
    width: 24.01px;
    height: 24px;
    left: 389px;
    top: 419px;
    }
    .fastrecovery{
        position: absolute;
    width: 124px;
    height: 20px;
    left: 439px;
    top: 421px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    }
    .reduceriskcircle{
        position: absolute;
    width: 56px;
    height: 56px;
    left: 587px;
    top: 403px;
    border-radius:50px;
    background: #FFFFFF;
    }
    .reduceriskimage{
        position: absolute;
        width: 39px;
        height: 50px;
        left: 595px;
        top: 403px;
        
    
    }
    
    .reducedrisk{
       /* Reduced risk */
    
    
    position: absolute;
    width: 106px;
    height: 20px;
    left: 653px;
    top: 421px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .bookbutton{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    
    position: absolute;
    width: 234px;
    height: 48px;
    left: 135px;
    top: 493px;
    
    background: #B52A4D;
    border-radius: 40px;
    }
    .buttontext{
        /* Book an appoinment */
    
    
    position: static;
    width: 154px;
    height: 17px;
    left: 40px;
    top: 15.5px;
    
    /* Header text */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
    }
    .peoplesconnect{
        position: absolute;
        width: 465px;
        height: 401px;
        left: 136px;
        top: 698px;
    }
    
    .manipalexp{
        /* The Manipal Experience */
    
    
    position: absolute;
    width: 408px;
    height: 39px;
    left: 661px;
    top: 698px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #0C51A1;
    
    }
    .patientstories{
        /* Patient’s Stories */
    
    
    position: absolute;
    width: 170px;
    height: 24px;
    left: 661px;
    top: 769px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-decoration:none;
    color: #0C51A1;
    }
    
    .doctorspeak{
        /* Doctor’s Speak */
    
    
    position: absolute;
    width: 140px;
    height: 22px;
    left: 855px;
    top: 771px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration:none;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #0C51A1;
    
    opacity: 0.7;
    }
    .blogs{
        position: absolute;
    width: 53px;
    height: 22px;
    left: 1019px;
    top: 771px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration:none;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #0C51A1;
    
    opacity: 0.7;
    }
    
    .writtentestimonial{
        /* Written Testimonial */
    
    
    position: absolute;
    width: 184px;
    height: 22px;
    left: 1096px;
    top: 771px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration:none;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #0C51A1;
    
    opacity: 0.7;
    }
    /* patient message shows with in this */
    .firstquote{
        position: absolute;
width: 26px;
height: 75px;
left: 661px;
top: 838px; 

font-family: Lobster;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 75px;
/* identical to box height */

letter-spacing: 0.02em;

color: #0C51A1;
    }
    .secondquote{
        position: absolute;
width: 26px;
height: 75px;
left: 1000px;
top: 920px; 

font-family: Lobster;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 75px;
/* identical to box height */

letter-spacing: 0.02em;

color: #0C51A1;

transform: matrix(-1, 0, 0, 1, 0, 0);
    }
        /* this code work on manipal exp div side bubbles effect */
.bubbles1{
    position: absolute;
width: 230px;
height: 290px;
left: 1101px;
top: 728px;
opacity: 0.6;

/* background: linear-gradient(113.85deg, 
rgba(181, 42, 78, 0.1) 20.4%, 
rgba(12, 81, 161, 0.5) 74.44%); */

}
/* patient story view with patient message, patient pic and name */
.patientstoryspan{
    position: absolute;
width: 589px;
height: 98px;
left: 698px;
top: 864px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;

color: #0C51A1;

    }

.photoofpatientexp{
    /* exp photo of patient */


position: absolute;
width: 48px;
height: 48px;
left: 709px;
top: 994px;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.exppatientname{
    position: absolute;
width: 89px;
height: 20px;
left: 770px;
top: 1008px;
margin: right 30px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.02em;

color: #0C51A1;
}
/* to view previous experience of patient */
/* .previous{
    position: absolute;
left: 85.28%;
right: 14.03%;
top: 18.01%;
bottom: 81.64%;

border: 2px solid #FFFFFF;
}
/* to view next experience of patient */
/*.next{
    position: absolute;
left: 89.86%;
right: 9.44%;
top: 18.01%;
bottom: 81.64%;

border: 2px solid #FFFFFF;
} */

.arrow{
  
    /* Group 1194 */
    
    
    position: absolute;
    width: 76px;
    height: 20px;
    left: 1228px;
    top: 1042px;
    }
    .arrowproperties{
    
    text-decoration: none;
    color: #0C51A1;
    font-size: 50px;
    }
.viewall{
    /* View all */


position: absolute;
width: 73px;
height: 22px;
left: 1231px;
top: 1228px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.02em;
text-decoration-line: underline;

color: #0C51A1;
}
.shape{
    

        position: absolute;
        width: 1079px;
        height: 623px;
        left: -267px;
        top: 1147px;
        /* color: linear-gradient(113.85deg, #377BCA 20.4%, #0C509F 74.44%); */
        
        color: linear-gradient(113.85deg, rgba(181, 42, 78, 0.2) 20.4%, #B52A4E 52.53%);
        /* background: linear-gradient(113.85deg, #377BCA 20.4%, #0C509F 74.44%);
         */opacity: 0.6;
        
}

/* center of excellence */
.centerofexcellence{
    /* Center of Excellence */


position: absolute;
width: 350px;
height: 39px;
left: 136px;
top: 1220px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color:  #0C51A1;

}
.organ{
    position: absolute;
width: 360px;
height: 158px;
left: 136px;
top: 1338px;
transition: 1s;

}
.organ:hover{
    transform: translateY(-20px);
}
.cancer{
    position: absolute;
width: 360px;
height: 158px;
left: 540px;
top: 1338px;
transition: 1s;
}
.cancer:hover{
     transform: translateY(-20px);
}
.spine{
    position: absolute;
width: 360px;
height: 160px;
left: 944px;
top: 1338px;
transition: 1s;
}
.spine:hover{
    transform: translateY(-20px);
}
.cardiology{
    position: absolute;
width: 360px;
height: 160px;
left: 136px;
top: 1542px;
transition: 1s;
}
.cardiology:hover{
     transform: translateY(-20px);
}
.neurology{
    position: absolute;
width: 360px;
height: 160px;
left: 540px;
top: 1542px;
transition: 1s;
}
.neurology:hover{
     transform: translateY(-20px);
}
.urology{
    position: absolute;
width: 360px;
height: 160px;
left: 944px;
top: 1542px;
transition: 1s;

}
.urology:hover{
    transform: translateY(-20px);
}
.navigationbotton{

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 156px;
height: 4px;
left: 642px;
top: 1766px;

}
.partialblue{
    position: absolute;
    width: 1440px;
    height: 336px;
    left: -1px;
    top: 1830px;
    
    background: #0C51A1;
}


/* location of hospital*/
.location{
    /* Our Locations */


position: absolute;
width: 239px;
height: 39px;
left: 1064px;
top: 1870px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #FFFFFF;

}
.delhi{
    position: absolute;
width: 360px;
height: 324px;
left: 136px;
top: 1941px;
transition: 1s;
}
.delhi:hover{
    transform: translateY(-20px);
}
.bengalore{
    position: absolute;
width: 360px;
height: 324px;
left: 540px;
top: 1941px;
transition: 1s;
}
.bengalore:hover{
    transform: translateY(-20px);
}
.goa{
    position: absolute;
width: 360px;
height: 324px;
left: 944px;
top: 1941px;
transition: 1s;
}
.goa:hover{
    transform: translateY(-20px);
}

.gallery{
    /* Gallery */


position: absolute;
width: 120px;
height: 39px;
left: 136px;
top: 2345px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #B52A4E;

}

/* gallery menus in anchor tags */
.rooms{
    /* Rooms */


position: absolute;
width: 73px;
height: 24px;
left: 136px;
top: 2424px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.01em;
text-decoration: none;
color: #B52A4E;

}
.lobbies{
    /* Lobbies */


position: absolute;
width: 73px;
height: 22px;
left: 233px;
top: 2426px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

opacity: 0.7;
}
.reception{
    /* Reception */


position: absolute;
width: 96px;
height: 22px;
left: 330px;
top: 2426px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;


opacity: 0.7;
}
.foodcourt{
    /* Food Court */


position: absolute;
width: 105px;
height: 22px;
left: 450px;
top: 2426px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

opacity: 0.7;
}
.general{
    /* General */


position: absolute;
width: 73px;
height: 22px;
left: 579px;
top: 2426px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

opacity: 0.7;
}
.virtualtour{
    /* Virtual Tour */


position: absolute;
width: 109px;
height: 22px;
left: 676px;
top: 2426px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

opacity: 0.7;
}

/* gallery images */
.gallerycircle{
   /* galley round shape */


position: absolute;
width: 230px;
height: 290px;
left: 1113px;
top: 2376px;
}

.gallerypic1{
    /* gallery 1 */


position: absolute;
width: 331.23px;
height: 420px;
left: 156px;
top: 2517px;
}
.gallerypic2{
    /* gallery 2 */


position: absolute;
width: 245.58px;
height: 200px;
left: 507.24px;
top: 2517px;
}
.gallerypic3{
    /* gallery 3 */


position: absolute;
width: 245.58px;
height: 200px;
left: 772.83px;
top: 2517px;
}
.gallerypic4{
    /* gallery 4 */


position: absolute;
width: 245.58px;
height: 200px;
left: 1038.42px;
top: 2517px;

}
.gallerypic5{
    /* gallery 5 */


position: absolute;
width: 245.58px;
height: 200px;
left: 507.24px;
top: 2737px;

}
.gallerypic6{
    /* gallery 6 */


position: absolute;
width: 245.58px;
height: 200px;
left: 772.83px;
top: 2737px;
}
.gallerypic7{
    /* gallery 7 */


position: absolute;
width: 245.58px;
height: 200px;
left: 1038.42px;
top: 2737px;
}

/* medical tourism section */
.medicaltourismshape{
/* medical tourism shape */


position: absolute;
width: 1079px;
height: 623px;
left: 360px;
top: 3070px;

/* background: linear-gradient(113.85deg, #2B74C9 20.4%, rgba(12, 81, 161, 0.1) 74.44%);
opacity: 0.6;
transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.medicaltourism{
    /* medical tourism */


position: absolute;
width: 533px;
height: 500px;
left: 141px;
top: 3070px;
}
.medicaltourismtitle{
    /* Medical Tourism in India */


position: absolute;
width: 417px;
height: 39px;
left: 723px;
top: 3070px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #0C51A1;
}
.medicaltourismtext{
    /* Some of the reasons India is one of the top medical tourism destinations */


position: absolute;
width: 580px;
height: 52px;
left: 723px;
top: 3149px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;

color: #1C2121;
}

/* medical tourism contents */
.greathospital{
    /* great hospitality icon */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 12px 12px;

position: absolute;
width: 54px;
height: 54px;
left: 723px;
top: 3233px;

background: white;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
border-radius: 32px;
}
.greathospitality{
    /* Great hospitality */


position: absolute;
width: 157px;
height: 28px;
left: 795px;
top: 3246px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
text-decoration: none;
/* identical to box height, or 156% */

letter-spacing: 0.02em;

color: #1C2121;
}
.cusineicon{
    /* varied cusine icon */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 12px 12px;

position: absolute;
width: 52px;
height: 51px;
left: 723px;
top: 3307px;

background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
border-radius: 32px;
}
.cusinetext{
    /* Varied cuisine catering to your needs */


position: absolute;
width: 352px;
height: 28px;
left: 794px;
top: 3321px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
text-decoration: none;
/* identical to box height, or 156% */

letter-spacing: 0.02em;

color: #1C2121;

}
.languageicon{
    /* language icon */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 12px 12px;

position: absolute;
width: 54px;
height: 56px;
left: 723px;
top: 3382px;

background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
border-radius: 32px;
}
.languagetext{
    /* International language and currency coversion support */


position: absolute;
width: 524px;
height: 28px;
left: 795px;
top: 3396px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
text-decoration: none;
/* identical to box height, or 156% */

letter-spacing: 0.02em;

color: #1C2121;

}
.healthicon{
    /* years of health icon */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 12px 12px;

position: absolute;
width: 54px;
height: 56px;
left: 723px;
top: 3458px;

background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
border-radius: 32px;
}
.healthtext{
    /* Years of healthcare experience */


position: absolute;
width: 290px;
height: 28px;
left: 795px;
top: 3472px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
text-decoration: none;
/* identical to box height, or 156% */

letter-spacing: 0.02em;

color: #1C2121;

}
.maniback{
    /* Vector 5 */
    position: absolute;
width: 1442px;
height: 660px;
left: -1px;
top: 3753px;
}
.manipalhos{
   
    position: absolute;
    width: 730.99px;
    height: 568.54px;
    left: 710.06px;
    top: 3753px;
/* position: absolute;
width: 730.99px;
height: 568.54px;
left: 735.06px;
top: 3753px; */
}
.manipalhead{
    position: absolute;
width: 392px;
height: 74px;
left: 135px;
top: 3833px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.02em;

color: #FFFFFF;

}
.manipalsub{
    position: absolute;
width: 392px;
height: 74px;
left: 135px;
top: 3900px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 1px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
p.manipalcontent{
    position: absolute;
width: 577px;
height: 134px;
left: 135px;
top: 3931px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;

color: #FFFFFF;

}
.readmore{
    /* Read more */
    position: absolute;
    width: 143px;
    height: 38px;
    left: 135px;
    top: 4097px;
    /* overflow-y: scroll; */
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    background: #B52A4D;
    color: #FFFFFF;
    transition: 1s;

}
.readmore:hover{
    transform: translateY(-20px);
}
.yearsofexp{
    position: absolute;
width: 236px;
height: 61px;
left: 127px;
top: 4167px;
}
.millionlives{
    position: absolute;
width: 250px;
height: 61px;
left: 403px;
top: 4167px;
}
.country{
  
 position: absolute;
width: 238px;
height: 61px;
left: 114px;
top: 4276px;
}
.bedsmanipal{
    position: absolute;
width: 238px;
height: 61px;
left: 403px;
top: 4276px;

}
/* --------------------flags------------------ */
.internationalcenter{
    /* International Centers */


position: absolute;
width: 363px;
height: 39px;
left: 941px;
top: 4443px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #0C51A1;

}
.leftarrow{
    /* left arrow for centres */


position: absolute;
width: 56px;
height: 56px;
left: 150px;
top: 4588px;

/* transform: matrix(-1, 0, 0, 1, 0, 0);  */
}
.flag1{
        /* Group 1218 */


position: absolute;
width: 102px;
height: 91px;
left: 243px;
top: 4570px;

}
.flag2{
    /* Group 1219 */


position: absolute;
width: 102px;
height: 91px;
left: 385px;
top: 4570px;
}
.flag3{
    /* Group 1220 */


position: absolute;
width: 102px;
height: 91px;
left: 527px;
top: 4570px;
}
.flag4{
    /* Group 1221 */


position: absolute;
width: 102px;
height: 91px;
left: 669px;
top: 4570px;
}
.flag5{
    /* Group 1222 */


position: absolute;
width: 102px;
height: 91px;
left: 811px;
top: 4570px;
}
.flag6{
    /* Group 1223 */


position: absolute;
width: 102px;
height: 91px;
left: 953px;
top: 4570px;
}
.flag7{
    /* Group 1224 */


position: absolute;
width: 102px;
height: 91px;
left: 1095px;
top: 4570px;

}
.rightarrow{
    /* right arrow for centres */


position: absolute;
width: 56px;
height: 56px;
left: 1248px;
top: 4588px;
}


/* =====================news and media portion=================== */
.newsbackblue{
    /* Rectangle 588 */


position: absolute;
width: 1440px;
height: 374px;
left: 0px;
top: 4758px;

background: #034EA2;
}
.newsmediatitle{
    /* News & Media */


position: absolute;
width: 240px;
height: 39px;
left: 136px;
top: 4806px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #FFFFFF;
}
.newsmediaviewall{
    /* View all */


position: absolute;
width: 73px;
height: 22px;
left: 1231px;
top: 4815px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.02em;
text-decoration-line: underline;

color: #FFFFFF;
}
.newsbox1{
    /* Group 1227 */


position: absolute;
width: 472px;
height: 160px;
left: 226px;
top: 4909px;
transition:1s;
}
.newsbox1:hover{
    transform:translatey(-20px);
}
.newsbox2{
    /* Group 1228 */


position: absolute;
width: 472px;
height: 160px;
left: 742px;
top: 4909px;
transition:1s;
}
.newsbox2:hover{
    transform:translateY(20px);
}
/*============------------------footer-----------------------=============*/
/* footer */

.footer{
    /* Footer */
    position: absolute;
    height: 653px;
    width: 1440px;
    left: 0px;
    top: 5132px;
    border-radius: 0px;
    
    background: #26251E;
}

.socialmedia{
    /* Socials */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    height: 18px;
    width: 146px;
    left: 182px;
    top: 469px;
    border-radius: 0px;
}

.youtube{
    /* Youtube */
    position: static;
    height: 17px;
    width: 25px;
    left: 0px;
    top: 0.5px;
    border-radius: 0px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    text-decoration: none;
}

.twitter{
    /* Twitter */
    position: static;
    height: 18px;
    width: 22px;
    left: 49px;
    top: 0px;
    border-radius: 0px;    

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    text-decoration: none;
}

.faceBook{
    /* Face book */
    position: static;
    height: 18px;
    width: 9px;
    left: 95px;
    top: 0px;
    border-radius: 0px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
    text-decoration: none;
}

.instagram{
    /* Vector */
    position: static;
    height: 18px;
    width: 18px;
    left: 128px;
    top: 0px;
    border-radius: 0px;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 24px;
    text-decoration: none;
}

.copyRight{
    /* Copyright © 2021 Manipal Hospitals - All Rights Reserved */
    position: absolute;
    width: 614px;
    height: 20px;
    left: 179px;
    bottom: 23px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #979797;
}

.footerSection{
    /* Frame 31 */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 339px;
    left: 179px;
    top: 93.12px;
    border-radius: 0px;
}

.aboutManipalSection{
    /* Frame 10 */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 138px;
    height: 240px;
    left: 0px;
    top: 0px;
}
.ourOfferingSection{
    /* Frame 11 */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 220px;
    height: 186px;
    left: 250px;
    top: 0px;
}

.ourNetworks{
    /* Frame 13 */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 138px;
    height: 240px;
    left: 502px;
    top: 0px;
}

.interNationalContactCentres{
    /* Frame 14 */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 145px;
    height: 183px;
    left: 712px;
    top: 0px;
}

.otherAndTalk{
    /* Frame 16 */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 156px;
    height: 339px;
    left: 929px;
    top: 0px;
}

.otherInfo{
    /* Frame 15 */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 156px;
    height: 159px;
    left: 0px;
    top: 0px;
}

.talkTo{
    /* Frame 12 */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 150px;
    height: 132px;
    left: 0px;
    top: 207px;
}

.aboutManipal{
    /* About Manipal */
    position: static;
    width: 138px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #FFFFFF;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.mainWebsite{
    /* Main website */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 32px;  
    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    text-decoration: none;
}


.aboutUs{
    /* About Us */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 59px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.leadership{
    /* Leadership */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 86px;
    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.doctors{
    /* Doctors */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 113px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.specialities{
    /* Specialities */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 140px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.facilities{
    /* Facilities */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 167px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 8px 0px;    
     text-decoration: none;
}

.accreditation{
    /* Accreditation */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 194px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.recognition{
    /* Recognition */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 221px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.ourOfferings{
    /* Our Offerings */
    position: static;
    width: 138px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.healthPackages{
    /* Health Packages */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 32px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.visaApplication{
    /* Visa application */
    position: static;
    width: 199px;
    height: 19px;
    left: 0px;
    top: 59px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.dischargeAndDeparture{
    /* Discharge and Departure */
    position: static;
    width: 163px;
    height: 19px;
    left: 0px;
    top: 86px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.worldWideInsurancePartners{
    /* Worldwide Insurance Partners */
    position: static;
    width: 236px;
    height: 19px;
    left: 0px;
    top: 113px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.accommodationPlanning{
    /* Accommodation Planning */
    position: static;
    width: 249px;
    height: 19px;
    left: 0px;
    top: 140px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.arrivalAndProcesses{
    /* Arrival and Processes */
    position: static;
    width: 249px;
    height: 19px;
    left: 0px;
    top: 167px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.ourNetwork{
    /* Our Network */
    position: static;
    width: 138px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.delhis{
    /* Delhi */
    position: static;
    width: 33px;
    height: 19px;
    left: 0px;
    top: 32px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.bangalore{
    /* Bangalore */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 59px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.goas{
    /* Goa */
    position: static;
    width: 28px;
    height: 19px;
    left: 0px;
    top: 86px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.jaipur{
    /* Jaipur */
    position: static;
    width: 42px;
    height: 19px;
    left: 0px;
    top: 113px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.mangalore{
    /* Mangalore */
    position: static;
    width: 69px;
    height: 19px;
    left: 0px;
    top: 140px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.salem{
    /* Salem */
    position: static;
    width: 41px;
    height: 19px;
    left: 0px;
    top: 167px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.vijayawada{
    /* Vijayawada */
    position: static;
    width: 73px;
    height: 19px;
    left: 0px;
    top: 194px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.malaysia{
    /* Malaysia */
    position: static;
    width: 56px;
    height: 19px;
    left: 0px;
    top: 221px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.icc{
    /* International Contact Centres */
    position: static;
    width: 145px;
    height: 48px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.congo{
    /* Congo */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 56px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.nigeria{
    /* Nigeria */
    position: static;
    width: 47px;
    height: 19px;
    left: 0px;
    top: 83px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.malwawi{
    /* Malwawi */
    position: static;
    width: 55px;
    height: 19px;
    left: 0px;
    top: 110px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.sriLanka{
    /* Sri Lanka */
    position: static;
    width: 249px;
    height: 19px;
    left: 0px;
    top: 137px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.bangladesh{
    /* Bangladesh */
    position: static;
    width: 249px;
    height: 19px;
    left: 0px;
    top: 164px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.otherInformation{
    /* Other Information */
    position: static;
    width: 156px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.patientRights{
    /* Patient Rights */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 32px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.feedback{
    /* Feedback */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 59px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.faqs{
    /* Faqs */
    position: static;
    width: 150px;
    height: 19px;
    left: 0px;
    top: 86px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.mediaAndBlogs{
    /* Media & Blogs */
    position: static;
    width: 156px;
    height: 19px;
    left: 0px;
    top: 113px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.resources{
    /* Resources */
    position: static;
    width: 156px;
    height: 19px;
    left: 0px;
    top: 140px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.talkToUs{
    /* Talk to us */
    position: static;
    width: 138px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Footer title */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.sendEnquiry{
    /* Send Enquiry */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 32px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.reqCallback{
    /* Request a callback */
    position: static;
    width: 150px;
    height: 19px;
    left: 0px;
    top: 59px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.talkToCOO{
    /* Talk to our COO */
    position: static;
    width: 138px;
    height: 19px;
    left: 0px;
    top: 86px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}
.reachOurOffices{
    /* Reach our offices */
    position: static;
    width: 150px;
    height: 19px;
    left: 0px;
    top: 113px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Blue off */

    color: #F4F7FD;

    opacity: 0.5;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
     text-decoration: none;
}

.feedbackPrivacy{
    /* FAQs . Feedback . Privacy policy */
    position: absolute;
    width: 293px;
    height: 20px;
    left: 956px;
    bottom: 23px;

    /* Footer sub */

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.01em;

    color: #979797;
     text-decoration: none;
}